body {
    background-color: #c5eaf3;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .box {
    width: 180px;
    border-radius: 10%;
    padding-bottom: 25%;
    float: left;
    margin: 1.5%;
    
    }

    h1 {
        color: black;
        text-align: center;
        line-height: 1.1;
	    padding-top:5%;
    } 
    
    h4 {
        color: black;
        text-align: center;
        line-height: 1.1;
	    padding-top:2%;
    } 
    h3 {
        color: black;
        text-align: center;
        line-height: 1.1;
      
	    
    }

    .box1{
        background:red;
        

    }

    .box2{

        background: blue;
        
    }
    .box3{

        background: green;
        
    }
    .box4{
        background: yellow;
        
    }
    .box5{

        background: pink;
        
    }
    .box6{
        background: white;
    }
  
  
  #container {
    max-width: 600px;
	margin: 2px auto;
    padding-top: 1%;
    text-align: center;  
    
  }

  .pt{

    padding-top: 55%;

  }
  


  